<% provide(:title, 'All users') %>
<h1>All users</h1>

<%= form_tag(users_path, method: "get") do %>
  <%= label_tag(:q, "Search for:") %>
  <%= text_field_tag :q, params[:q] %>
  <%= submit_tag "Search", class: "btn btn-info" %>
<% end %>

<%= will_paginate %>
  <ul class="users">
      <%= render @users %>
  </ul>
<%= will_paginate %>
