<div class="span1">
  Rate:
</div>
<div class="span5">
      <ul class="inline">
        <li class="rate_button">
          <%= button_to "1", { controller: :microposts, action: :rate,
             rate: '1', id: micropost.id }, class: "btn btn-mini rate_button",
             id: "rate_micropost_#{micropost.id}_with_1" ,method: :put%>
        </li>
        <li class="rate_button">
          <%= button_to "2", { controller: :microposts, action: :rate,
             rate: '2', id: micropost.id }, class: "btn btn-mini rate_button",
             id: "rate_micropost_#{micropost.id}_with_2" ,method: :put%>
        </li>
        <li class="rate_button">
          <%= button_to "3", { controller: :microposts, action: :rate,
             rate: '3', id: micropost.id }, class: "btn btn-mini rate_button",
             id: "rate_micropost_#{micropost.id}_with_3" ,method: :put%>
        </li>
        <li class="rate_button">
          <%= button_to "4", { controller: :microposts, action: :rate,
             rate: '4', id: micropost.id }, class: "btn btn-mini rate_button",
             id: "rate_micropost_#{micropost.id}_with_4" ,method: :put%>
        </li>
        <li class="rate_button">
          <%= button_to "5", { controller: :microposts, action: :rate,
             rate: '5', id: micropost.id }, class: "btn btn-mini rate_button",
             id: "rate_micropost_#{micropost.id}_with_5" ,method: :put%>
        </li>
      </ul>
</div>
<div class="span5">
  Rated <%=micropost.rating.round(1)%> by <%=pluralize(micropost.rated_by,"user")%>.
</div> 

