<% provide(:title,@title) %>
<div class="row">
  <aside class="span4">
    <section>
      <h1><%= @organization.name %></h1>
      <span><%= link_to "view organization profile", @organization %></span>
      <span><b>Members:</b> <%= @organization.members.count %></span>
      <span><b>Microposts:</b> <%= @organization.microposts.count %></span>
    </section>
    <section>
      <%= render 'stats' %>
    </section>
  </aside>
  <div class="span8">
    <h3><%= @title %></h3>
    <% if @users.any? %>
      <ul class="users">
        <%= render @users %>
      </ul>
      <%= will_paginate @users %>
    <% end %>
  </div>
</div>
